@charset "UTF-8";
 @import url(http://fonts.googleapis.com/css?family=Quattrocento+Sans);
* {
	margin:0;
	padding:0;
}
body {
	color:#000;
	font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "ＭＳ Ｐゴシック", sans-serif;
	text-align:center;
	width: 100%;
}
img, table, th, td {
	border:none;
	margin:0;
	padding:0;
}
ul, ol {
	margin:0;
	padding:0;
	list-style-type:none;
}
textarea, select, input {
	font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "ＭＳ Ｐゴシック", sans-serif;
}
textarea {
	font-size:12px;
}
hr {
	display:none;
}
a {
	color:#147595;
	text-decoration:none;
}
a:link {
	color:#147595;
	text-decoration:none;
}
a:hover {
	color:#147595;
	text-decoration:underline;
}
a.nonu:hover {
	color:#000000;
	text-decoration:none;
}
#contents li img {
	background-color:transparent;
	text-decoration:none;
}
#contents a img {
	background-color:transparent;
}
img.icon {
	vertical-align:middle;
}
#contents p {
	line-height:160%;
	margin:0;
	padding:0 0 5px 0;
	word-break:break-all;
}
/* indent */
.center{text-align:center!important;}
.left{text-align:left!important;}
.right{text-align:right!important;}
.top5{margin-top:5px !important;}
.top10{margin-top:10px !important;}
.top15{margin-top:15px !important;}
.btm5{margin-bottom:5px !important;}
.btm10{margin-bottom:10px !important;}
.btm15{margin-bottom:15px !important;}
.btm20{margin-bottom:20px !important;}
.btm25{margin-bottom:25px !important;}
.btm30{margin-bottom:30px !important;}
.btm40{margin-bottom:40px !important;}
.lm5{margin-left:5px !important;}
.lm10{margin-left:10px !important;}
.rm5{margin-right:5px !important;}
.rm10{margin-right:10px !important;}
.red {
	color: #ff0000;
}
.blue {color: #319ACA;}
.bold {font-weight: bold;}

/* clearfix */
.clearfix:after {
	content:".";
	height:0;
	clear:both;
	display:block;
	font-size:0.1em;
	visibility:hidden;
}
.clearfix {
	display:inline-block;
	min-height:1%;
}
/* Hides from IE-mac \*/
* html .clearfix {
	height:1%;
}
/* End hide from IE-mac */



/* br clear */
br.clear_noie, div.clear_noie {
	display:inline !important;
	display:none;
	clear:both;
	line-height:0px;
}
br.clear_all {
	clear:both;
	line-height:0px;
}

/* wrap */

#wrap {
	margin:0 auto;
	width: 960px;
}

/* header */

header {
	width:960px;
	margin:0 auto 30px;
	padding:22px 0 0;
}

header p {
	font-size:11px;
	text-align:right;
	color:#666;
	line-height:120%;
}

header #head {
	float:left;
	width:650px;
}

header #search {
	width:280px;
	float:right;
}
header #search form {
	display:block;
	height:30px;
	float:right;
}
header hgroup {
	width:200px;
	float: left;
}
header hgroup h1 {
	height:74px;
	line-height:0;
	margin:0;
}
header hgroup h2 {
	text-align:right;
	font-size:11px;
	font-weight:normal;
	margin:0 11px 0 0;
	font-family: 'Quattrocento Sans', sans-serif;
}
p.catch {
	padding-top:18px;
	width:390px;
	text-align:left;
	margin:0 0 15px 258px;
}
/* nav */


header nav {
	float:right;
}
header nav ul {
	float:right;
}
header nav ul li {
	display:block;
	float:left;
	margin-left:15px;
}
header nav ul li span {
	background:url(../image/list_top.gif) left top no-repeat;
	padding-left:25px;
}
header nav ul li a {
	font-size:18px;
	color:#444;
	display:block;
	float:left;
	padding:7px 20px;
	font-family: 'Quattrocento Sans', sans-serif;
}
header nav ul li a:hover, header nav ul li a.current {
	background-color:#D0E3EA;
	text-decoration:none;
	color:#444;
}

/* #searchbox */

input#searchsubmit {
	padding: 3px 11px;
	font-size: 16px;
	background-color: #147595;
	color: #fff;
	border-style: none;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
}
input#searchbox {
	height:28px;
	border:solid 1px #b4b4b4;
}
.sb {
	width:170px;
}

/* #shareBox */

#shareBox {
	padding-top:10px;
	margin-bottom:10px;
	height:21px;
	width:280px;
}
#shareBox ul {
	height:21px;
	width:280px;
}
#shareBox li {
	height:21px;
	display:block;
	float:right;
	margin-left:10px;
}
td.pl {
	padding-left:10px;
}


/* main */

#main {
	width:960px;
	margin:0 auto;
	clear:both;
}

/* contents */

#contents {
	float:left;
	margin: 0;
	width: 675px;
}
#contents a:hover img {
	filter: alpha(opacity=60);
	-moz-opacity:0.6;
	opacity:0.6;
	background-color:#fff;
}
#contents a h1 {
	color:#000000;
}
#contents a:hover h1 {
	text-decoration:none !important;
	color:#000000;
}


/* sortarea */

#sortarea {
	margin-right:25px;
	border-top:solid 1px #B8B8B8;
	min-height: 60px;
	height: auto !important;
	height: 60px;
}
#sortarea ul {
	padding-top:20px;
	float:right;
}
#sortarea ul li {
	display:block;
	float:left;
	margin-left:14px;
}
#sortarea ul li a {
	color:#4C5A87;
	display:block;
	float:left;
	margin-left:14px;
	text-decoration:underline;
	font-size:14px;
}
#sortarea ul li a:hover {
	display:block;
	text-decoration:none;
}

li.new {
	background:url(../image/new.gif) left top no-repeat;
	padding-left: 14px;
}
li.date {
	background:url(../image/date.gif) left top no-repeat;
	padding-left: 14px;
}
li.popular {
	background:url(../image/fav.gif) left top no-repeat;
	padding-left: 14px;
}

/* sidearea */

#sidearea {
	float:right;
	width: 280px;
}

ul.calU {
	width:280px;
	margin-bottom:20px;
}
li.kako a {
	background:url(../image/list_top2.gif) left top no-repeat;
	padding-left: 14px;
	font-size:14px;
	color:#4C5B88;
	display:block;
	float:right;
	text-decoration:underline;
}
li.kako a:hover {
	text-decoration:none;
}
#calendar {
	padding-top:7px;
	background:url(../image/clbg_top.gif) left top no-repeat;
	font-size:14px;
}
#calendar #calendarinr {
	margin-bottom:10px;
	padding-bottom:10px;
	background:url(../image/clbg.gif) left bottom no-repeat;
	font-size:14px;
}

#calendar a {
	color:#000000;
}
#calendar td.sun a {
	color:#ff0000;
}

.bnrBox li {
	margin-bottom:20px;
}
.bnrBox a:hover img {
	filter: alpha(opacity=60);
	-moz-opacity:0.6;
	opacity:0.6;
}

/* page-top */

#page-top {
	position: fixed;
	bottom: 20px;
	right: 20px;
	font-size: 77%;
}
#page-top a {
	text-indent:-9999em;
	width:80px;
	height:81px;
	background:url(../image/pagetop.png) 0 0 no-repeat;
	display: block;
}
#page-top a:hover {
	background-position:-80px 0;
	cursor:pointer;
}

/* footer */

footer {
	color:#000;
	font-size:10px;
	padding:15px 0;
	text-align:center;
	background-color:#999999;
	clear:both;
}

#footerlogo {
	margin-bottom:15px;
}

footer address {
	text-decoration:none;
	font-style:normal;
}


/* table */

.w10 { width:10%;}
.w15 { width:15%;}
.w20 { width:20%;}
.w25 { width:25%;}
.w30 { width:30%;}
.w35 { width:35%;}
.w40 { width:40%;}
.w45 { width:45%;}
.w50 { width:50%;}
.w55 { width:55%;}
.w60 { width:60%;}
.w65 { width:65%;}
.w70 { width:70%;}
.w75 { width:75%;}
.w80 { width:80%;}
.w85 { width:85%;}
.w90 { width:90%;}

#sidearea table.table00 {
	width:272px;
	margin:0 4px;
}
#sidearea table.table00 th, #sidearea table.table00 td {
	border-bottom:#DADADA 1px solid;
	line-height:140%;
	padding:12px 6px;
	text-align:center;
	vertical-align:middle;
	background-color:#FFFFFF;
}
#sidearea table.table01 {
	width:272px;
	margin:0 4px;
	padding-bottom:7px;
	background-color:#DADADA;
}
#sidearea table.table01 th, #sidearea table.table01 td {
	border-bottom:#DADADA 1px solid;
	line-height:140%;
	padding:0;
	text-align:center;
	vertical-align:middle;
}
#sidearea table.table01 td.prev {
	width:12%;
	border-right:#f0f0f0 1px solid;
}
#sidearea table.table01 td.next {
	width:12%;
	border-left:#f0f0f0 1px solid;
}
#sidearea table.table01 td.prev a:hover img, #sidearea table.table01 td.next a:hover img {
	filter: alpha(opacity=60);
	-moz-opacity:0.6;
	opacity:0.6;
}
#sidearea table.table00 .color01 {
	background-color:#236CBE;
	color:#FFFFFF;
}
#sidearea table.table00 .color02 {
	background-color:#009900;
	color:#FFFFFF;
}
#sidearea table.table00 .color03 {
	background-color:#999999;
	color:#FFFFFF;
}
#sidearea table.table00 .gry {
	background-color:#E1E1E1;
}
